{% extends 'base.html' %}

{% block content %}

    <h1>{{ article.title }}</h1>
    <h2>{{ article.text }}</h2>
    <p> {{article.date}} </p>
    <a href="{% url 'sort_url' article.rubric.url %}">{{ article.rubric }}</a>
    <br>
    {% for el in comments %}
        <h3>{{ el.commentator }}</h3>
        <p>{{ el.text }}</p>
        <p>{{ el.date }}</p>
    {% endfor %}
    <form action="{% url 'article_view_url' article.id %}" method="post">{% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Оставить комментарий</button>
    </form>
{% endblock content %}